<head>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
</head>
     
<footer class="section footer-classic context-dark bg-dark" style="background: #2d3246;">

  <div class="footer-copyright text-center py-3" style="color: white">© 2019 Copyright:
    <a href="#" style="color: turquoise"> BasketBall Analyst</a>
  </div>
  
</footer>