
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark row">
    <div class="col-sm-0"></div>
    <div class="ml-5 col-sm-4 col-md-4 col-lg-5 col-xl-4">
      <h4 class="text-light">Basketball Analytics</h4>
    </div>

    <button class="navbar-toggler mt-3" type="button" data-toggle="collapse" data-target="#navbarToggler"
      aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="col-sm-1 mr-5"></div>
    <div class="col-sm-5">
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="/dashboard">Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/search">Search</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link font-weight-light" id="btnLogout" href="/auth/logout">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Logout</a>
          </li>
        </ul>
      </div>
      {{!-- <div class="col-sm-1">
        <ul class="navbar-nav navbar-nav2 ml-auto mt-2 mt-lg-0">
          <li class="nav-item"><a class="nav-link font-weight-light" id="btnLogout" href="/auth/logout">Logout</a></li>
        </ul>
      </div> --}}
    </div>
  </nav>
