
<nav class="navbar navbar-expand-sm navbar-dark bg-dark row">
  <div class="col-sm-0"></div>
  <div class="ml-5 col-sm-5 col-md-5 col-lg-5 col-xl-4">
      <h4 class="text-light">Basketball Analytics</h4>
  </div>

  <button class="navbar-toggler mt-3" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
  </button>
  
  <div class="col-sm-2"></div>
  <div class="col-sm-5">
      <div class="collapse navbar-collapse mr-5">
          <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
              <li class="nav-item">
                  <a class="nav-link" href="/dashboard">Dashboard</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/search">Search</a>
              </li>
              <li class="nav-item active">
                  <a class="nav-link" href="/contact">Contact</a>
              </li>
          </ul>
      </div>
  </div>
  <div class="col-sm-1"></div>
</nav>
