{{>header}}

<div class="myTeam jumbotron mx-5 mt-5 py-3 px-3">

    <div class="card">
      <div class="card-body">
        <h4 class="float-left">My Team</h4>
        <h4 class="float-right">Fantasy Score: &nbsp; <span class="fantasyScore">XX</span></h4>
      </div>
    </div>

    <div class="card cardHeight mt-3">
      <div class="card-body">

        <div class="row row1Team myTeam rowTeam">
          <div class="col-sm-6">
            <div class="row text-center">
              <div class="team alert-success mx-1 text-light col-sm" id="team">?</div>
              <div class="team alert-success mx-1 text-light col-sm" id="team">?</div>
              <div class="team alert-success mx-1 text-light col-sm" id="team">?</div>
              <div class="team alert-success mx-1 text-light col-sm" id="team">?</div>
            </div>
            <div class="row text-center">
              <div class="col-sm">name</div>
              <div class="col-sm">name</div>
              <div class="col-sm">name</div>
              <div class="col-sm">name</div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="row text-center">
              <div class="team alert-success mx-1 text-light col-sm" id="team">?</div>
              <div class="team alert-success mx-1 text-light col-sm" id="team">?</div>
              <div class="team alert-success mx-1 text-light col-sm" id="team">?</div>
              <div class="team alert-success mx-1 text-light col-sm" id="team">?</div>
            </div>
            <div class="row text-center">
              <div class="col-sm">name</div>
              <div class="col-sm">name</div>
              <div class="col-sm">name</div>
              <div class="col-sm">name</div>
            </div>
          </div>
        </div>

      </div>
    </div>
    
    <div class="card cardHeight mt-3">
      <div class="card-body">

        <div class="row">
          <div class="col-sm-6">
            <div class="row rowTeam text-center">
              <div class="team alert-primary mx-1 text-light col-sm" id="team">?</div>
              <div class="team alert-primary mx-1 text-light col-sm" id="team">?</div>
              <div class="team alert-primary mx-1 text-light col-sm" id="team">?</div>
              <div class="team alert-primary mx-1 text-light col-sm" id="team">?</div>
            </div>
            <div class="row text-center">
              <div class="col-sm">name</div>
              <div class="col-sm">name</div>
              <div class="col-sm">name</div>
              <div class="col-sm">name</div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="row rowTeam text-center">
              <div class="team alert-primary mx-1 text-light col-sm" id="team">?</div>
              <div class="team alert-primary mx-1 text-light col-sm" id="team">?</div>
              <div class="team alert-primary mx-1 text-light col-sm" id="team">?</div>
              <div class="team alert-primary mx-1 text-light col-sm" id="team">?</div>
            </div>
            <div class="row text-center">
              <div class="col-sm">name</div>
              <div class="col-sm">name</div>
              <div class="col-sm">name</div>
              <div class="col-sm">name</div>
            </div>
          </div>
        </div>

      </div>
    </div>
      <div class="edit mt-3">
      <div class="dashSearchBar row mx-3">
          <div class="col-sm-3">
            <button class="btn editBtn btn-danger">Edit</button>
          </div>
          <div class="col-sm-9 editBar d-none">
            <div class="row">
            <label class="offset-sm-3 col-sm-4 text-right pt-2">Add Players</label>
            <input list="dashDropdown" id="dashSearch" class="form-control col-sm-4 pr-0 mr-0" type="text"
              placeholder="Kevin Durant">
            <datalist id="dashDropdown">
              <option value="Kevin Durant">
              <option value="Stephen Curry">
              <option value="James Harden">
              <option value="Chris Paul">
              <option value="Dwight Howard">
            </datalist>
            <div class="pull-right col-sm-1 ml-0 pl-0">
              <button type="button" class="dashAddBtn btn btn-block btn-success ml-3 dashAdd"> + </button>
            </div>
          </div>
          </div>
        </div>
      </div>

    

</div>

{{!-- dashboard stuff --}}
<div class="dashboard jumbotron mx-5 mt-5 py-3 px-3">

    <div class="card">
      <div class="card-body">
        <h4>Dashboard</h4>
      </div>

      <div id="user-tables">
        {{!-- Append user tables here for now --}}
        {{!-- {{table}} --}}
      </div>

    </div>

    <div class="row mt-3">

      <div class="card mx-3" style="width: 18rem; height: 18rem;">
        <div class="card-header">
          Featured
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Cras justo odio</li>
          <li class="list-group-item">Dapibus ac facilisis in</li>
          <li class="list-group-item">Vestibulum at eros</li>
          <li class="list-group-item">Dapibus ac facilisis in</li>
        </ul>
      </div>

      <div class="card" style="width: 18rem; height: 18rem;">
        <img class="card-img-top" src="https://picsum.photos/200/200" alt="Card image cap">
      </div>

      <table class="col-sm mx-3 table table-striped table-dark" style="height: 18rem;">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
          </tr>
          <tr>
            <th scope="row">4</th>
            <td>Moe</td>
            <td>Joe</td>
            <td>@yes</td>
          </tr>
        </tbody>
      </table>

    </div>

    <div class="row mt-3">

      <div class="card mx-3" style="width: 18rem; height: 18rem;">
        <div class="card-header">
          Featured
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Cras justo odio</li>
          <li class="list-group-item">Dapibus ac facilisis in</li>
          <li class="list-group-item">Vestibulum at eros</li>
          <li class="list-group-item">Dapibus ac facilisis in</li>
        </ul>
      </div>

      <div class="card" style="width: 18rem; height: 18rem;">
        <img class="card-img-top" src="https://picsum.photos/200/200" alt="Card image cap">
      </div>

      <table class="col-sm mx-3 table table-striped table-dark" style="height: 18rem;">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
          </tr>
          <tr>
            <th scope="row">4</th>
            <td>Moe</td>
            <td>Joe</td>
            <td>@yes</td>
          </tr>
        </tbody>
      </table>

    </div>

  </div>

  <div id="user-data"> {{{ userData }}} </div>
  <div id="user-columns"> {{{ userColumns }}} </div>

  {{>footer}}

  <script rel="text/javascript" src="/assets/js/dashboard.js"></script>