{{>header}}
<div class="bg-gif">
    <div class="container error">
        <div class="row">
            <div class="col-md-12">
                <div class="error-template">
                    <h2>Oops!</h2>
                    <h3>404 Not Found</h3>
                    <div class="error-details">
                        Sorry, an error has occured, Requested page not found!
                    </div>
                    <div class="error-actions">
                        <a href="/dashboard" class="btn btn-outline-warning btn-md">
                            Take Me Home >>
                        </a>
                        <a href="/contact" class="btn btn-outline-info btn-md">
                            Contact Support >>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{>footer}}