<nav class="navbar navbar-expand-sm navbar-dark bg-dark row">
  <div class="col-sm-0"></div>
  <div class="ml-5 col-sm-5 col-md-5 col-lg-5 col-xl-4">
      <h4 class="text-light">Basketball Analytics</h4>
  </div>

  <button class="navbar-toggler mt-3" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
  </button>
</nav>

<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
        <img src="http://localhost:3000/assets/images/jumpShot.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="http://localhost:3000/assets/images/lebron-poster-dunk.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="http://localhost:3000/assets/images/kawhi-leonard.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
</div>