{{>header}}

<div class="searchbox jumbotron mx-5 mt-5 py-3 px-3">
  <div class="card">
    <div class="card-body">
      <h4>Searchbox</h4>
    </div>
  </div>

  <div class="row mt-3">

    <div class="col-sm-4">
      <div class="card cardMiddle">

        <div class="card-body search">
          <div class="row mx-0 mb-4">
            <div class="btn-group px-0 col-sm-12" role="group" aria-label="">
              <button type="button" class="btn btn-secondary playerButton">Player</button>
              <button type="button" class="btn btn-secondary teamButton">Team</button>
            </div>
          </div>
          <div class="playerSearchBar">
            <label>Search For a Player</label>
            <input id="playerSearch" class="form-control" type="text" placeholder="Kevin Durant">
          </div>
          <div class="teamSearchBar mt-2">
            <label>Search For a Team</label>
            <input id="teamSearch" class="form-control" type="text" placeholder="Golden State Warriors">
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-8 ml-0">
      <div class="row params">
        <div class="col-sm-12">
          <div class="card cardMiddle">
              <h5 class="mx-4 mt-4">Parameters</h5>
            <div class="card-body searchParams mx-3">
              {{!-- daterangepicker.com --}}

              <div class="row row1">
                <div class="form-check col-sm-3">
                  <input class="form-check-input" type="checkbox" id="date" value="date">
                  <button class="btn btn-secondary" type="button" id="" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Date Range
                  </button>
                </div>
                <div class="col-sm-5 datePicker formBox" id="reportrange"
                  style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 100%; min-height:38px;">
                  <i class="fa fa-calendar"></i>&nbsp;
                  <span></span> <i class="fa fa-caret-down"></i>
                </div>
              </div>

              <div class="row row2 mt-3">
                <div class="form-check col-sm-3">
                  <input class="form-check-input" type="checkbox" id="season" value="season">
                  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Season
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuPlayoff">
                    <a class="dropdown-item 2019playoff">2019 Playoff</a>
                    <a class="dropdown-item 2018-2019regular">2018-2019 Regular</a>
                    <a class="dropdown-item 2018playoff">2018 Playoff</a>
                    <a class="dropdown-item 2017-2018regular">2017-2018 Regular</a>
                    <a class="dropdown-item 2017playoff">2017 Playoff</a>
                    <a class="dropdown-item 2016-2017regular">2016-2017 Regular</a>
                    <a class="dropdown-item 2016playoff">2016 Playoff</a>
                    <a class="dropdown-item 2015-2016regular">2015-2016 Regular</a>
                  </div>
                </div>
                <div id="seasonInput" class="col-sm-5 formBox"></div>
            </div>

            <div class="row row3 mt-3">
                <div class="form-check col-sm-3">
                  <input class="form-check-input" type="checkbox" id="season" value="season">
                  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Position
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuPlayoff">
                    <a class="dropdown-item">Point Guard</a>
                    <a class="dropdown-item">Shooting Guard</a>
                    <a class="dropdown-item">Small Forward</a>
                    <a class="dropdown-item">Power Forward</a>
                    <a class="dropdown-item">Center</a>
                  </div>
                </div>
                <div id="positionInput" class="col-sm-5 formBox"></div>
            </div>

            <div class="row row4 mt-3">
                <div class="form-check col-sm-3">
                  <input class="form-check-input" type="checkbox" id="season" value="season">
                  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Roster Status
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuPlayoff">
                    <a class="dropdown-item">Available</a>
                    <a class="dropdown-item">Probable</a>
                    <a class="dropdown-item">Suspended</a>
                    <a class="dropdown-item">Out</a>
                  </div>
                </div>
                <div id="positionInput" class="col-sm-5 formBox"></div>
            </div>
          </div>
        </div>
      </div>
        

          {{!-- Season, Date, Roster Status(out, probable, suspended,), Position, Country --}}
        

      </div>
    </div>
  </div>
  <div class="row mt-3 mx-0">
    <div class="card col-sm-12">
      <div class="card-body">
        <h5>Checkboxes</h5>
      </div>
      <div class="card-body searchChecks row">



        <div class="col-sm align-self-end"><button type="submit" class="btn btn-primary float-right">Submit</button>
        </div>

      </div>

    </div>
  </div>
</div>
</div>

<!--=================================Functions Section============================================-->
<div class="customSearch jumbotron mx-5 py-3 px-3">
  <div class="card">
    <div class="card-body">
      <h4>Custom Functions</h4>
    </div>
    <div class="row px-3 ml-3">
      <div class="form-check col-sm-2">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
        <label class="form-check-label" for="defaultCheck1">
          Default
        </label>
      </div>
      <div class="col-sm-8">
        <form>
          <div class="form-group">
            <input type="range" class="form-control-range" id="formControlRange">
          </div>
        </form>
      </div>
      <div class="col-sm-2 text-center">val</div>
    </div>

    <div class="row px-3 ml-3">
      <div class="form-check col-sm-2">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
        <label class="form-check-label" for="defaultCheck1">
          Default
        </label>
      </div>
      <div class="col-sm-8">
        <form>
          <div class="form-group">
            <input type="range" class="form-control-range" id="formControlRange">
          </div>
        </form>
      </div>
      <div class="col-sm-2 text-center">val</div>
    </div>

    <div class="row px-3 ml-3">
      <div class="form-check col-sm-2">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
        <label class="form-check-label" for="defaultCheck1">
          Default
        </label>
      </div>
      <div class="col-sm-8">
        <form>
          <div class="form-group">
            <input type="range" class="form-control-range" id="formControlRange">
          </div>
        </form>
      </div>
      <div class="col-sm-2 text-center">val</div>
    </div>
  </div>


</div>

{{footer}}