.dashboard {
  min-height: 300px;
}

.searchbox {
  min-height: 300px;
}

.customSearch {
  min-height: 300px;
}

.search {
  min-height: 270px;
}

/* .searchChecks {
  min-height: 200px;
} */

.searchParams {
  min-height: 200px;
} 

.cardMiddle {
  min-height: 300px;
}
.customFunctions {
  min-height: 280px;
}

.loginBox {
  min-height: 60%;
  width: 30%;
  position: fixed;
  right: 10%;
  top: 25%;
  background: rgba(52, 58, 64, 1);
}

.house {
  display:block;
  position:absolute;
  background:url('/public/assets/images/james-harden.jpg');
  background-repeat:no-repeat;
  background-size: 100% 100%;
  width:122px;
  height:148px;
  float:right;
  bottom:0;
  right:0;
}

.datePicker {
  height: 35px;
}

.formBox {
  border-style: solid;
  border-width: 1px;
  border-color:#EBC2C2;
}

/* 404 error */

.bg-gif { 
  background-image: url(https://media3.giphy.com/media/Fg22kcTuD29iw/giphy.gif);
  background-size: cover;
  height: 100vh;
  padding:0;
  margin:0;
}
.error-template {
  padding: 40px 15px;text-align: center;
  color: white;
  outline-color: black;
}
.error-actions {
  margin-top:15px;margin-bottom:15px;
}
.error-actions .btn { 
  margin-right:10px; 
}