.dashboard {
  min-height: 300px;
}

.searchbox {
  min-height: 300px;
}

.customSearch {
  min-height: 300px;
}

.search {
  min-height: 250px;
}

.loginBox {
  min-height: 60%;
  width: 30%;
  position: fixed;
  right: 10%;
  top: 25%; 
  background: rgba(52, 58, 64, 1);
}